global
    log /dev/log local0
    log /dev/log local1 notice
    maxconn 4096

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    timeout connect 5000
    timeout client  50000
    timeout server  50000

frontend http_front
    bind *:80
    default_backend http_back

frontend ws_front
    bind *:81
    default_backend ws_back

backend http_back
    balance roundrobin
    server dev1 206.189.57.200:8545 check
    server dev2 206.189.54.201:8545 check

backend ws_back
    balance roundrobin
    server dev1 206.189.57.200:8546 check
    server dev2 206.189.54.201:8546 check

listen stats
    bind :8000
    stats enable
    stats uri /monitoring
    stats auth astar-admin:astar-admin
