global
    log /dev/log local0
    log /dev/log local1 notice
    maxconn 4096

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    timeout connect 5000
    timeout client  50000
    timeout server  50000

frontend http-challenger.astar.network
    bind *:80
    default_backend http_back
    acl url_stats path_beg /monitoring
    use_backend stats_backend if url_stats

frontend ws-challenger.astar.network
    bind *:80
    acl hdr_ws_upgrade hdr(Upgrade) -i WebSocket
    use_backend ws_back if hdr_ws_upgrade    

backend http_back
    balance roundrobin
    server dev1 10.8.0.1:8545 check
    server dev2 10.8.0.2:8545 check

backend stats_backend
    stats enable
    stats uri /monitoring
    stats auth astar-admin:astar-admin

backend ws_back
    balance roundrobin
    server ws1 10.8.0.1:8546 check
    server ws2 10.8.0.2:8546 check
